<?xml version="1.0"?>
<launch>
    <!-- Uncomment below and comment the other node if using native Ubuntu to display more print screen -->
    <!-- <node pkg="waypoint_updater" 
               type="waypoint_updater.py" 
               name="waypoint_updater" 
               output="log"
               launch-prefix ="xterm -e"/> -->
    
    <node pkg="waypoint_updater" 
               type="waypoint_updater.py" 
               name="waypoint_updater" 
               output="log"/>
</launch>
